:root{
    --main-color:#233F8A;
    --text-color:#FEFEFF;
    --bg-color:#353942;

}
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: iranyekan;
}
.gohar{
    font-family: gohar;
}
.container{
    max-width: 1140px;
    margin:0 auto;
}
.p-block{
    padding:1rem ;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
    /* color: var(--text-color); */
}
.text-white{
    color: var(--text-color);
}
/* pegah-new style */
.pegah-new{
    display: flex;
    flex-direction: column;
}
.pegah-new__news{
    background-color: #124297;
    /* width: 50%; */
    /* flex-grow: 1; */
    padding-right: 4rem;
}
.pegah-new__img{
    width: 115px;
    height: 90px;
    margin-left: 1rem;
}
.pegah-new__img img{
    width: 115px;
    height: 90px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 5px #0005;
}
.pegah-new__item{
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
}
.pegah-new__detail p{
    display: none;
}
.pegah-new__detail a{
    color: var(--text-color);
    font-family: gohar;
}
.pegah-new__detail h4{
    font-size: 1.4rem;
}
.pegah-new h2{
    font-family: gohar;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.pegah-new .more{
    text-align-last: left;
}
.pegah-new .more a{
    color: var(--text-color);
    font-size: 1.4rem;
}
.pegah-new__blog{
    background-color: #E86984;
    /* width: 50%; */
    /* flex-grow: 1; */
    padding-right: 4rem;
}
@media screen and (min-width:768px) {
    .pegah-new{
        flex-direction: row;
    }
    .pegah-new__detail p{
        display: block;
    }
}
/* tamasha style */
.tamasha h2{
    text-align: center;
    font-family: gohar;
    color: tomato;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.tamasha__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: gohar;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 2rem;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    border-radius: 5px;
}
.tamasha__items{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:768px) {
   .tamasha__items{
    flex-direction: row;
    justify-content: space-between;
   }
   .tamasha__item:hover{
    box-shadow: 0 0 5px #ccc;
   }
}
/* icon-pegah style */
.icon-pegah{
    background-image: url(../assets/images/icon-pegah/pngwing.com-2020-12-17T151610.143-copy2-1-1.jpg);
    /* height: 540px; */
    height: auto;
    background-size: cover;
    background-position: left;
    color: var(--text-color);

}
.icon-pegah h2{
    margin-bottom: 3rem;
}
.icon-pegah__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
.icon-pegah__item p{
    margin-top: 1.2rem;
}
.icon-pegah__items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media screen and (min-width:768px) {
    .icon-pegah{
        background-position: center;
    }
    .icon-pegah__items{
        flex-direction: row;

    }
    .icon-pegah__item{
        width: 20%;
        margin-bottom: 5rem;
    }
}
/* menu style */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    min-height: 90px;
    /* align-items: center; */
    box-shadow: 2px 2px 2px #ccc5;
}
.hmenu{
    transform: translateY(10px);
}
.hmenu .bar{
    width: 30px;
    height: 3px;
    background-color: #666;
    border-radius: 5px;
    display: block;
    margin-bottom: .6rem;
}
.brand{
    display: none;
}
.mobile-brand{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.mobile-brand img{
    max-width: 80px;
}
.mobile-menu{
    width: 90%;
    background-color: var(--main-color);
    position: absolute;
    right: -90%;
    top: 0;
    transition: .5s ease;
}
.show-menu{
    right: 0;
}
.mobile-menu ul a{
    display: block;
    color: var(--text-color);
    border-bottom: 2px solid #fff8;
    padding: 1rem;
    position: relative;
}
.mobile-menu ul a::after{
    content: "+";
    position: absolute;
    left: 10px;
    color: #ccc;
}
.mobile-menu .close{
    font-size: 5rem;
    color: var(--text-color);
    margin-right: 2rem;
}
.search{
    text-align: center;
    margin: 2rem 0;
    color: #fff;
    font-size: 3rem;
}
.search img{
    filter: invert(1);
}
@media screen and (min-width:768px) {
    nav{
        flex-wrap: nowrap;
        height: 40px;
    }
    .hmenu{
        display: none;
    }
    .mobile-brand{
        display: none;
    }
    .brand{
        display: inline-block;
        max-width: 90px;
    }
    .brand img{
        width: 100%;
    }
    .close{
        display: none;
    }
    .mobile-menu{
        width: 100%;
        background-color: transparent;
        position: static;
        transition:none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .mobile-menu ul li{
        border-top: 3px solid transparent;
        transition: .3s ease ;
        
    }
    .mobile-menu ul li:not(:last-child){
        border-left: 1px solid #ccc5;
    }
    .mobile-menu ul li:hover{
        border-top: 3px solid var(--main-color)
    }
    .mobile-menu ul a{
        color: var(--bg-color);
        border-bottom:none;
        padding: 2rem 1rem;
        
        
    }
    .mobile-menu ul a::after{
        content: "";
    }
    .mobile-menu ul{
        display: flex;
    }
    .search{
        order: 1;
        color: #ccc;
        transform: translate(0px,8px);
    }
    .search img{
        width: 25px;
        filter: invert(0);
    }
}