<section class="icon-pegah p-block">
    <h2 class="gohar text-white text-center">چرا پگاه را انتخاب کنیم</h2>
    <div class="icon-pegah__items container">
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>
        <div class="icon-pegah__item">
            <img src="./assets/images/icon-pegah/dairy-products-1.png" alt="">
            <p>در سراسر ایران هستیم</p>
        </div>

    </div>

</section>