<nav class="p-block">
    <div class="hmenu">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
    </div>
    <a href="#" class="mobile-brand">
        <img src="./assets/images/cropped-512PN-180x180.png" alt="">
    </a>
    <div class="mobile-menu">
        <span class="close">&times;</span>
        <div class="search">
            <img src="./assets/images/search.png" alt="">
        </div>
        <ul>
            <li><a href="#">صفحه اصلی</a></li>
            <li><a href="#">قصه پگاه</a></li>
            <li><a href="#">خوشمزه های پگاه</a></li>
            <li><a href="#">مجله خبری</a></li>
            <li><a href="#">مجله سلامتی</a></li>
        </ul>
        <a href="#" class="brand">
            <img src="./assets/images/cropped-512PN-180x180.png" alt="">
        </a>
        <ul>
            <li><a href="#">درگاه شفافیت</a></li>
            <li><a href="#">پگاهی شو</a></li>
            <li><a href="#">خرید از پگاه</a></li>
            <li><a href="#">ارتباط با پگاه</a></li>
            <li><a href="#">EN</a></li>
            <li><a href="#">AR</a></li>
            <li><a href="#">RU</a></li>
        </ul>
    </div>
   </nav>