<section class="pegah-new text-white">
    <div class="pegah-new__news p-block">
        
       <h2>تازه های پرتال خبری</h2>
       
        <div class="pegah-new__item">
            <div class="pegah-new__img">
                <img src="./assets/images/pegah-new/IMG-20220920-WA0127-1-300x100.jpg" alt="">
            </div>
            <div class="pegah-new__detail">
                <h4>
                    <a href="#">
                        تجاری سازی دستاوردهای جدید شرکت‌های تولیدی پگاه</a>
                </h4>
                <p>
                    در حوزه‌های فنی و تولید دستاوردهای مهمی در شرکت‌های تولیدی پگاه کسب شده که باید تجاری سازی شود.   به...
                    </p>
            </div>

        </div>
        <div class="pegah-new__item">
            <div class="pegah-new__img">
                <img src="./assets/images/pegah-new/IMG-20220920-WA0127-1-300x100.jpg" alt="">
            </div>
            <div class="pegah-new__detail">
                <h4>
                    <a href="#">
                        تجاری سازی دستاوردهای جدید شرکت‌های تولیدی پگاه</a>
                </h4>
                <p>
                    در حوزه‌های فنی و تولید دستاوردهای مهمی در شرکت‌های تولیدی پگاه کسب شده که باید تجاری سازی شود.   به...
                    </p>
            </div>

        </div>
        <div class="pegah-new__item">
            <div class="pegah-new__img">
                <img src="./assets/images/pegah-new/IMG-20220920-WA0127-1-300x100.jpg" alt="">
            </div>
            <div class="pegah-new__detail">
                <h4>
                    <a href="#">
                        تجاری سازی دستاوردهای جدید شرکت‌های تولیدی پگاه</a>
                </h4>
                <p>
                    در حوزه‌های فنی و تولید دستاوردهای مهمی در شرکت‌های تولیدی پگاه کسب شده که باید تجاری سازی شود.   به...
                    </p>
            </div>

        </div>
        <div class="pegah-new__item">
            <div class="pegah-new__img">
                <img src="./assets/images/pegah-new/IMG-20220920-WA0127-1-300x100.jpg" alt="">
            </div>
            <div class="pegah-new__detail">
                <h4>
                    <a href="#">
                        تجاری سازی دستاوردهای جدید شرکت‌های تولیدی پگاه</a>
                </h4>
                <p>
                    در حوزه‌های فنی و تولید دستاوردهای مهمی در شرکت‌های تولیدی پگاه کسب شده که باید تجاری سازی شود.   به...
                    </p>
            </div>

        </div>
        <div class="more">
            <a href="#">
                <span>+</span>
                مشاهده پرتال خبری
            </a>
        </div> 
    </div>
    <div class="pegah-new__blog p-block">
        <h2>تازه های پرتال خبری</h2>
        <div class="pegah-new__item">
            <div class="pegah-new__img">
                <img src="./assets/images/pegah-new/IMG-20220920-WA0127-1-300x100.jpg" alt="">
            </div>
            <div class="pegah-new__detail">
                <h4>
                    <a href="#">
                        تجاری سازی دستاوردهای جدید شرکت‌های تولیدی پگاه</a>
                </h4>
                <p>
                    در حوزه‌های فنی و تولید دستاوردهای مهمی در شرکت‌های تولیدی پگاه کسب شده که باید تجاری سازی شود.   به...
                    </p>
            </div>

        </div>
        <div class="pegah-new__item">
            <div class="pegah-new__img">
                <img src="./assets/images/pegah-new/IMG-20220920-WA0127-1-300x100.jpg" alt="">
            </div>
            <div class="pegah-new__detail">
                <h4>
                    <a href="#">
                        تجاری سازی دستاوردهای جدید شرکت‌های تولیدی پگاه</a>
                </h4>
                <p>
                    در حوزه‌های فنی و تولید دستاوردهای مهمی در شرکت‌های تولیدی پگاه کسب شده که باید تجاری سازی شود.   به...
                    </p>
            </div>

        </div>
        <div class="pegah-new__item">
            <div class="pegah-new__img">
                <img src="./assets/images/pegah-new/IMG-20220920-WA0127-1-300x100.jpg" alt="">
            </div>
            <div class="pegah-new__detail">
                <h4>
                    <a href="#">
                        تجاری سازی دستاوردهای جدید شرکت‌های تولیدی پگاه</a>
                </h4>
                <p>
                    در حوزه‌های فنی و تولید دستاوردهای مهمی در شرکت‌های تولیدی پگاه کسب شده که باید تجاری سازی شود.   به...
                    </p>
            </div>

        </div>
        <div class="pegah-new__item">
            <div class="pegah-new__img">
                <img src="./assets/images/pegah-new/IMG-20220920-WA0127-1-300x100.jpg" alt="">
            </div>
            <div class="pegah-new__detail">
                <h4>
                    <a href="#">
                        تجاری سازی دستاوردهای جدید شرکت‌های تولیدی پگاه</a>
                </h4>
                <p>
                    در حوزه‌های فنی و تولید دستاوردهای مهمی در شرکت‌های تولیدی پگاه کسب شده که باید تجاری سازی شود.   به...
                    </p>
            </div>

        </div>
        <div class="more">
            <a href="#">
                <span>+</span>
                مشاهده وبلاگ
            </a>
        </div>
    </div>
</section>