<section class="tamasha container p-block">
    <h2>تماشاخانه پگاه</h2>
    <div class="tamasha__items">
        <a href="#" class="tamasha__item">
            <img src="./assets/images/45279666-5793__5934.jpg" alt="">
            <span>روز جهانی شیر</span>
            
        </a>
        <a href="#" class="tamasha__item">
            <img src="./assets/images/45279666-5793__5934.jpg" alt="">
            <span>روز جهانی شیر</span>
            
        </a>
        <a href="#" class="tamasha__item">
            <img src="./assets/images/45279666-5793__5934.jpg" alt="">
            <span>روز جهانی شیر</span>
            
        </a>
        <a href="#" class="tamasha__item">
            <img src="./assets/images/45279666-5793__5934.jpg" alt="">
            <span>روز جهانی شیر</span>
            
        </a>
    </div>
        
   </section>